.priniat,.zapis{
    display: inline-block;
    margin: 5px;
    padding-left: 55px;
}
.upravlenia{
    display: flex;
    font-size: 20px;
}
.poiska{
    display: inline-flex;
    
    font-size: 20px;
    margin: 5px;
    width: 100vh;
    
} 
input.poiska{
    width: 99%;
}
.poisk{
    
    background-color: #FFFFFF;
    margin-left: 10%;
     width: 60%; 
} 
