/* .poisk{
    background-color: #FFFFFF;
    margin-left: 20%;
    
     padding-left: 55px; 
} */

.poiskaa{
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    min-height: 100%;
    
} 
/*
.in{
    padding-left: 100px;
    
}
.btn{
    margin-top: 9px;
} */

.pola{
    width: 220vh;
}